<script lang="ts" setup>
import {onMounted, ref} from 'vue';
import Drawer from "../../components/ui/menu/Drawer.vue";
import Header from "../../components/ui/header/Header.vue";
import MainComponent from "../../components/ui/main/MainComponent.vue";
import Skeleton from "../Skeleton.vue";
import MainCardContainer from "../../components/ui/main/maincardcontainer/MainCardContainer.vue";
import MainMessagesHeader from "../../components/ui/main/mainheader/MainMessagesHeader/MainMessagesHeader.vue";
import MainCardReport from "../../components/ui/main/maincards/MainCardReport/MainCardReport.vue";
import HookGetAllReports, {REPORT_TYPE} from "../../http/reports/HookGetAllReports.ts";
import ReportCreationForm from "../../components/ui/reports/ReportCreationForm.vue";
import SearchInput from "../../components/ui/search-input/SearchInput.vue";

const selectedButton = ref('All')

const reports = ref<REPORT_TYPE[] | undefined>(undefined)
const reportsVisual = ref<REPORT_TYPE[] | undefined>(undefined)

const selectButton = (buttonValue: string) => {
  selectedButton.value = buttonValue;
  fetchAllReports()
}

const fetchAllReports = async () => {
  reports.value = await HookGetAllReports()
  reportsVisual.value = await HookGetAllReports()
}

const updateFilteredList = (filteredList:REPORT_TYPE[]) =>{
  reportsVisual.value = filteredList;
}

onMounted(() => {
  fetchAllReports()
})

</script>

<template>
  <Skeleton>
    <Drawer/>
    <div class="flex flex-col">
      <Header>
        <SearchInput :reports="reports" @updateFilteredList="updateFilteredList" @fetchAllReports="fetchAllReports"/>
      </Header>
      <MainComponent>
        <MainMessagesHeader :selected-button="selectedButton" path-var="Reports" @selectButton="selectButton"/>
        <div class="shrink-0 bg-gray-100 h-[1px] w-full" data-orientation="horizontal" role="none"></div>
        <MainCardContainer v-if="selectedButton=='All'">
          <MainCardReport v-for="report in reportsVisual"
                          v-key="report.id"
                          :keyReport="report.id"
                          :message-text="report.reporter"
                          :status="report.status"
                          :support="report.support"
                          :topic="report.description"
                          :user-name="report.title"
                          @refresh="fetchAllReports"/>
        </MainCardContainer>
        <MainCardContainer v-if="selectedButton=='Create'">
          <ReportCreationForm/>
        </MainCardContainer>
      </MainComponent>
    </div>
  </Skeleton>
</template>

