<script lang="ts" setup>

</script>

<template>
  <div
      id="radix-:r2:-content-all"
      aria-labelledby="radix-:r2:-trigger-all"
      class="ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 m-0"
      data-orientation="horizontal"
      data-state="active"
      role="tabpanel"
      style=""
  >
    <div
        class="relative overflow-hidden p-2"
        dir="ltr"
        style="position: relative; --radix-scroll-area-corner-width: 0px; --radix-scroll-area-corner-height: 0px;"
    >
      <div
          class="h-full w-full rounded-[inherit]"
          data-radix-scroll-area-viewport=""
          style="overflow: hidden scroll;"
      >
        <div style="min-width: 100%; display: table;">
          <div class="grid gap-2">
            <slot/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
