<script setup lang="ts">

import MainHeaderSkeleton from "../MainHeaderSkeleton.vue";

defineProps({
  pathVar: {
    type: String,
    required: true
  }
})
</script>

<template>
  <MainHeaderSkeleton :path-var="pathVar">

  </MainHeaderSkeleton>
</template>

