<script setup lang="ts">

</script>

<template>

  <div class="flex items-center justify-center min-h-screen bg-gray-100 ">
    <div class="rounded-lg border bg-card text-card-foreground shadow-sm p-8 text-center max-w-md" data-v0-t="card">
      <div class="bg-gray-900 rounded-full w-16 h-16 flex items-center justify-center mx-auto">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-8 w-8 text-white"
        >
          <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"></path>
          <path d="M12 9v4"></path>
          <path d="M12 17h.01"></path>
        </svg>
      </div>
      <h1 class="text-3xl font-bold text-gray-400 mt-6">Oops! Something went wrong.</h1>
      <p class="text-gray-400 ">
        We're sorry, but an unexpected error has occurred. Please try again later or contact support if the issue
        persists.
      </p>
      <p class="text-gray-400 ">

      </p>
      <a
          class="inline-flex items-center justify-center px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-900 font-medium rounded-md transition-colors focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 mt-6"
          href="https://unir-sc.com"
      >
        Go back to home
      </a>
    </div>
  </div>
</template>
