<script lang="ts" setup>

import {computed, PropType, ref, watch,} from "vue";
import {REPORT_TYPE} from "../../../http/reports/HookGetAllReports.ts";

const emit = defineEmits(['updateFilteredList', 'fetchAllReports']);

const props=defineProps({
  reports:{
    type: Object as (PropType<REPORT_TYPE[]>| undefined),
  }
})

const filterParam = ref<string>("")


const filteredList = computed(() => {
  const searchString = filterParam.value.toLowerCase();
  return props.reports?.filter(item => item.title.toLowerCase().includes(searchString));
});

watch(filteredList, (newValue, oldValue) => {
  if (JSON.stringify(newValue) !== JSON.stringify(oldValue)) {
    emit('updateFilteredList', newValue);
  }
});

</script>

<template>
  <form class="ml-auto flex-1 sm:flex-initial">
    <div class="relative">
      <svg
          class="absolute left-2.5 top-2.5 h-4 w-4 text-gray-500"
          fill="none"
          height="24"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          width="24"
          xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="11" cy="11" r="8"></circle>
        <path d="m21 21-4.3-4.3"></path>
      </svg>
      <input
          class="flex h-10 w-full rounded-md border border-input px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 pl-8 sm:w-[300px] md:w-[200px] lg:w-[300px] bg-white"
          placeholder="Search report title"
          type="search"
          v-model="filterParam"
      />
    </div>

  </form>
</template>

