<script lang="ts" setup>
import ButtonComponent from "../../../button/ButtonHeaderSelectorComponent.vue";
import MainHeaderSkeleton from "../MainHeaderSkeleton.vue";
import {onMounted, ref} from "vue";
import hookGetMenu from "../../../../../http/reports/HookGetOptionMenu.ts";

defineProps({
  pathVar: {
    type: String,
    required: true
  },
  selectedButton: {
    type: String,
    required: true
  }
})

const emits = defineEmits(['selectButton'])
const handleClick = (val: string) => {
  emits('selectButton', val);
};
const buttons = ref<string[] | null>(null)
const getOption = async () => {
  buttons.value = await hookGetMenu()
}
onMounted(() => {
  getOption()
})
</script>

<template>
  <MainHeaderSkeleton :path-var="pathVar">
    <template v-for="button in buttons" :key="button">
      <ButtonComponent
          :label="button"
          :selected="selectedButton === button"
          @select="handleClick(button)"
      />
    </template>
  </MainHeaderSkeleton>
</template>

