<script lang="ts" setup>
import {PropType} from "vue";
import {Roles} from "../../../../../http/users/HookGetAllUsers.ts";


defineProps({
  userName: {
    required: true,
    type: String,
  },
  authorities: {
    required: true,
    type: Object as PropType<Roles>
  },
  userEmail: {
    required: true,
    type: String,
  }
})
</script>

<template>
  <article
      class="flex flex-col items-start gap-2 rounded-lg border border-gray-200 p-3 text-left text-sm transition-all hover:bg-gray-100">
    <div class="flex items-center w-full">
      <div class="font-semibold me-2">{{ userName }}</div>
      <div class="line-clamp-2 text-xs text-gray-500 font-mono  ">
        {{ userEmail }}
      </div>
      <div class="ml-auto text-xs text-gray-500">2 días atrás</div>
    </div>
    <div class="flex items-center w-full">
      <div v-for="auth in authorities" :key="auth.name" class="text-xs me-2 font-light text-gray-900">
        {{ auth.name.toLowerCase().replace("role_", "") + " |" }}
      </div>
    </div>
  </article>
</template>

