<script lang="ts" setup>
import TitleH1 from "../../titles/TitleH1.vue";

defineProps({
  pathVar: {
    type: String,
    required: true
  }
})
</script>

<template>
  <div class="flex items-center p-2">
    <TitleH1 :title="pathVar"/>
    <div
        aria-orientation="horizontal"
        class="inline-flex h-9 items-center justify-center rounded-lg bg-gray-100 p-1 text-muted-foreground ml-auto"
        data-orientation="horizontal"
        role="tablist"
        style="outline: currentcolor;"
        tabindex="0"
    >
      <slot></slot>
    </div>
  </div>
</template>
