<script lang="ts" setup>

import {onMounted, ref} from 'vue';
import Skeleton from "../Skeleton.vue";
import MainComponent from "../../components/ui/main/MainComponent.vue";
import Drawer from "../../components/ui/menu/Drawer.vue";
import Header from "../../components/ui/header/Header.vue";
import MainCardContainer from "../../components/ui/main/maincardcontainer/MainCardContainer.vue";
import hookGetAllUsers, {USER_TYPE} from "../../http/users/HookGetAllUsers.ts";
import MainCardUser from "../../components/ui/main/maincards/MainCardUser/MainCardUser.vue";
import MainUsersHeader from "../../components/ui/main/mainheader/MainUsersHeader/MainUsersHeader.vue";
import MainCardUserInfo from "../../components/ui/main/maincards/MainCardUserInfo/MainCardUserInfo.vue";

const users = ref<USER_TYPE[] | null>(null);
const selectedButton = ref('Users');

const fetchProtectedResource = async () => {
  users.value = await hookGetAllUsers();
};

onMounted(() => {
  fetchProtectedResource();
});

const selectButton = (buttonValue: string) => selectedButton.value = buttonValue;
</script>

<template>
  <Skeleton>
    <Drawer/>
    <div class="flex flex-col">
      <Header>
        <div class="ml-auto flex-1 sm:flex-initial">
        </div>
      </Header>
      <MainComponent>
        <MainUsersHeader :selectedButton="selectedButton" path-var="Users" @selectButton="selectButton"/>
        <div class="shrink-0 bg-gray-100 h-[1px] w-full" data-orientation="horizontal" role="none"></div>
        <MainCardContainer v-if="selectedButton==='Users'">
          <MainCardUser v-for="user in users"
                        :key="user.uuid"
                        :authorities="user.roles"
                        :user-email="user.email"
                        :user-name="user.firstName.toUpperCase()"/>

        </MainCardContainer>
        <MainCardContainer v-else-if="selectedButton==='Settings'">
          <MainCardUserInfo/>
        </MainCardContainer>
      </MainComponent>
    </div>
  </Skeleton>
</template>
