<script lang="ts" setup>
import {onMounted, ref} from 'vue';
import hookGetUserInAuth from "../../../http/auth/HookUsers.ts";
import keycloak from "../../../utilities/keycloak.ts";

const isMenuOpen = ref(false);
const nameDisplay = ref<string | null>(null)

function toggleMenu() {
  isMenuOpen.value = !isMenuOpen.value;
}

const getAuthInformation = async () => {
  const value = await hookGetUserInAuth();
  nameDisplay.value = value.name
}

onMounted(async () => {
  getAuthInformation()
})

const logout = () => {
  keycloak.logout({redirectUri: window.location.origin});
}
</script>

<template>
  <header class="flex h-14 lg:h-[60px] items-center gap-4 border-b bg-gray-100/40 px-6 ">
    <div class="flex flex-1 items-center gap-4 md:ml-auto md:gap-2 lg:gap-4">
      <slot></slot>
      <button id="radix-:r0:"
              :aria-controls="isMenuOpen ? 'radix-:r1:' : ''"
              :aria-expanded="isMenuOpen.toString()" aria-haspopup="menu"
              class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 w-10 rounded-full" data-id="23"
              type="button" @click="toggleMenu">
        <img v-if="nameDisplay" :src="`https://ui-avatars.com/api/?name=${nameDisplay}`"
             alt="Avatar" class="rounded-full"
             data-id="24" height="32" style="aspect-ratio: 32 / 32; object-fit: cover;" width="32">
        <span class="sr-only" data-id="25">Open user menu</span>
      </button>
      <div v-if="isMenuOpen" :style="{ position: 'fixed', left: '92%', top: '4%', transform: 'translate(-50%, 0)', minWidth: 'max-content', willChange: 'transform', zIndex: 50 }" data-radix-popper-content-wrapper=""
           dir="ltr">
        <div id="radix-:r1:" aria-labelledby="radix-:r0:" aria-orientation="vertical" class="z-50 min-w-[8rem] overflow-hidden rounded-md border bg-white p-1 text-gray-900 shadow-md" data-align="end"
             data-radix-menu-content="" data-side="bottom" data-state="open" dir="ltr"
             role="menu">
          <div class="px-2 py-1.5 text-sm font-semibold" data-id="27">Profile Managment</div>
          <div aria-orientation="horizontal" class="-mx-1 my-1 h-px bg-gray-200" data-id="28" role="separator"></div>
          <button class="relative flex hover:bg-gray-100 w-full cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50"
                  data-id="29"
                  data-orientation="vertical" data-radix-collection-item="" role="menuitem" tabindex="-1">Settings
          </button>
          <button class="relative flex hover:bg-gray-100 w-full cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50"
                  data-id="30"
                  data-orientation="vertical" data-radix-collection-item="" role="menuitem" tabindex="-1">Support
          </button>
          <div aria-orientation="horizontal" class="-mx-1 my-1 h-px bg-gray-200" data-id="31" role="separator"></div>
          <button class="relative flex hover:bg-gray-100 w-full cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50"
                  data-id="32"
                  data-orientation="vertical"
                  data-radix-collection-item=""
                  role="menuitem"
                  tabindex="-1"
                  @click="logout"
          >Logout
          </button>
        </div>
      </div>
    </div>
  </header>
</template>