<script lang="ts" setup>

</script>

<template>
  <article
      class="flex flex-col items-start gap-2 rounded-lg border border-gray-200 p-3 text-left text-sm transition-all hover:bg-gray-100">
    <div class="font-semibold me-2">To edit your account</div>
    <div class="flex items-center w-full">
      <div class=" text-xs text-gray-900 me-2">please visit the url:</div>
      <div class="text-xs me-2 font-light text-gray-600">http://localhost:8090/realms/security-concept/account/</div>
    </div>
    <div class="font-semibold me-2 mt-5">To create a new User</div>
    <div class="flex items-center w-full">
      <div class=" text-xs text-gray-900 me-2">please visit the url:</div>
      <div class="text-xs me-2 font-light text-gray-600">http://localhost:8090/realms/security-concept/account/</div>
    </div>
    <div class="font-semibold me-2 mt-5">For users administration</div>
    <div class="flex items-center w-full">
      <div class=" text-xs text-gray-900 me-2">please contact the admin</div>
      <div class="text-xs me-2 font-light text-gray-600">Abour security reason is here not allow</div>
    </div>
  </article>
</template>

