<script lang="ts" setup>

import ButtonComponent from "../../../button/ButtonHeaderSelectorComponent.vue";
import MainHeaderSkeleton from "../MainHeaderSkeleton.vue";

defineProps({
  pathVar: {
    type: String,
    required: true,
  },
  selectedButton: {
    type: String,
    required: true
  }
})

const emits = defineEmits(['selectButton'])
const handleClick = (val: string) => {
  emits('selectButton', val);
};
const buttons = [
  {label: 'Users', value: 'Users'},
  {label: 'Roles', value: 'Roles'},
  {label: 'Settings', value: 'Settings'}
];

</script>

<template>
  <MainHeaderSkeleton :path-var="pathVar">
    <template v-for="button in buttons" :key="button.value">
      <ButtonComponent
          :label="button.label"
          :selected="selectedButton === button.value"
          @select="handleClick(button.value)"
      />
    </template>
  </MainHeaderSkeleton>
</template>

