<script lang="ts" setup>

defineProps({
  label: {
    required: true,
    type: String,
  },
  selected: {
    required: true,
    type: Boolean,
    default: false,
  }
})
const emits = defineEmits(['select']);
const handleClick = () => {
  emits('select');
};
</script>

<template>
  <button
      id="radix-:r2:-trigger-users"
      :data-state="selected ? 'active' : 'inactive'"
      aria-controls="radix-:r2:-content-users"
      aria-selected="true"
      class="inline-flex items-center justify-center whitespace-nowrap rounded-md px-3 py-1 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-white data-[state=active]:text-foreground data-[state=active]:shadow text-zinc-600 "
      data-orientation="horizontal"
      data-radix-collection-item=""
      role="tab"
      tabindex="-1"
      type="button"
      @click="handleClick"
  >
    {{ label }}
  </button>
</template>

