<script lang="ts" setup>
import {onMounted, ref} from "vue";
import keycloak from "../../../../../utilities/keycloak.ts";
import hookGetUserByRole from "../../../../../http/users/HookGetUserByRole.ts";
import {USER_TYPE} from "../../../../../http/users/HookGetAllUsers.ts";
import hookAsignSupportToReport from "../../../../../http/reports/HookAsignSupportToReport.ts";

const props = defineProps({
  userName: {
    required: true,
    type: String,
  },
  topic: {
    required: true,
    type: String
  },
  messageText: {
    required: true,
    type: String,
  },
  keyReport: {
    type: String,
    required: true,
  },
  status: {
    type: String,
    required: true,
  },
  support: {
    required: true,
  },
})
const display = ref<boolean>(false);
const users = ref<USER_TYPE[] | null>(null);
const authRole = ref<boolean>(false);

const enable = () => {
  display.value = !display.value;
}
const isAdmin = async () => {
  authRole.value = await keycloak.hasRealmRole("admin")
  users.value = await hookGetUserByRole()
}

const handleClick = async (useName: string) => {
  await hookAsignSupportToReport(props.keyReport, {"supporterId": useName});
  display.value = false
  emits("refresh")
}
const emits = defineEmits(["refresh"])

onMounted(() => {
  isAdmin()
})
</script>

<template>
  <article
      class="flex flex-col items-start gap-2 rounded-lg border border-gray-200 p-3 text-left text-sm transition-all hover:bg-gray-100">
    <div class="flex items-center w-full">
      <div class="font-semibold me-2">{{ userName }}</div>
      <div class="line-clamp-2 text-xs text-gray-500">
        {{ messageText }}
      </div>
      <div class="ml-auto text-xs text-gray-500 ">2 días atrás</div>
    </div>
    <div class="flex items-center w-full">
      <div class="text-xs font-medium">{{ status }}</div>
      <div class="line-clamp-2 text-xs text-gray-500 ps-2">{{ support }}</div>
    </div>
    <div class="text-xs font-medium">{{ topic }}</div>

    <div v-if="authRole" class="relative w-full mt-2">
      <button id="radix-:r4p:"
              aria-expanded="false"
              aria-haspopup="menu" class="justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3 flex items-center gap-2" data-state="closed" type="button" @click="enable">
        <svg class="h-4 w-4" fill="none" height="24" stroke="currentColor" stroke-linecap="round"
             stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
        Asignar a
        <svg class="h-4 w-4" fill="none" height="24" stroke="currentColor" stroke-linecap="round"
             stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="m6 9 6 6 6-6"></path>
        </svg>
      </button>
      <div v-for="user in users" v-if="display" :key="user.email"
           class="z-50 mt-1 min-w-[8rem] max-w-[20rem] overflow-hidden rounded-md border bg-white  hover:bg-gray-100 p-1 text-popover-foreground shadow-md data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2"
           data-orientation="vertical" style="outline: currentcolor; --radix-dropdown-menu-content-transform-origin: var(--radix-popper-transform-origin); --radix-dropdown-menu-content-available-width: var(--radix-popper-available-width); --radix-dropdown-menu-content-available-height: var(--radix-popper-available-height); --radix-dropdown-menu-trigger-width: var(--radix-popper-anchor-width); --radix-dropdown-menu-trigger-height: var(--radix-popper-anchor-height); pointer-events: auto;"
           tabindex="-1">
        <button class="relative flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50" data-highlighted=""
                data-orientation="vertical"
                data-radix-collection-item="" role="menuitem" tabindex="0" @click="handleClick(user.email )">
          <span class="relative flex shrink-0 overflow-hidden rounded-full w-6 h-6 mr-2">
            <img :src="`https://ui-avatars.com/api/?name=${user.firstName}`" alt="@username">
          </span>
          {{ user.firstName }}-{{ user.email }}
        </button>
      </div>
    </div>
  </article>
</template>
