<script lang="ts" setup>

import Lable from "../titles/Lable.vue";
import {onMounted, ref} from "vue";
import hookGetMenu from "../../../http/menu/menu.ts";
import MenuComponent from "./component/MenuComponent.vue";

const menu = ref<string[] | null>(null);
const fetchMenuOption = async () => {
  menu.value = await hookGetMenu()
}
onMounted(() => {
  fetchMenuOption()
})
</script>

<template>
  <div class="hidden border-r bg-gray-100/40 lg:block ">
    <div class="flex flex-col gap-2">
      <Lable/>
      <div class="flex-1">
        <nav class="grid items-start px-4 text-sm font-medium">
          <MenuComponent v-for="item in menu" :key="item" :img-s-v-g="item" :message="item"/>
        </nav>
      </div>
    </div>
  </div>
</template>

