<template>
  <div class="flex h-[60px] items-center px-6">
    <a class="flex items-center gap-2 font-semibold" href="#">
      <svg aria-hidden="true" class="w-6 h-6 text-gray-600" fill="none"
           height="24" viewBox="0 0 20 20" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.5 11H5a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h4.5M7 11V7a3 3 0 0 1 6 0v1.5m2.5 5.5v1.5l1 1m3.5-1a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2"/>
      </svg>
      <span class="mt-2">Secure-Concept</span>
    </a>
  </div>
</template>

