<script lang="ts" setup>
import {defineProps} from 'vue';

defineProps({
  title: {
    type: String,
    required: true
  }
});
</script>

<template>
  <div class="flex-1">
    <h1 class="font-semibold text-xl ms-1">{{ title }}</h1>
  </div>
</template>
