<script setup lang="ts">

</script>

<template>
  <section class="border shadow-sm rounded-lg p-4">
    <h2 class="font-medium text-lg ms-1 mb-4" >Roles </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <div class="flex items-start gap-3">
        <div class="bg-gray-100 rounded-md flex items-center justify-center aspect-square w-10">
          <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5"
          >
            <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
        <div>
          <h3 class="font-medium">Usuario Cliente</h3>
          <p class="text-sm text-gray-500">
            Responsable de la creacion de reportes/insidencias.
          </p>
        </div>
      </div>
      <div class="flex items-start gap-3">
        <div class="bg-gray-100 rounded-md flex items-center justify-center aspect-square w-10 ">
          <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5"
          >
            <polyline points="16 18 22 12 16 6"></polyline>
            <polyline points="8 6 2 12 8 18"></polyline>
          </svg>
        </div>
        <div>
          <h3 class="font-medium">Usuario Soporte</h3>
          <p class="text-sm text-gray-500">
            Encargado de ayudar a dar solucion a los reportes o incidencias
          </p>
        </div>
      </div>
      <div class="flex items-start gap-3">
        <div class="bg-gray-100 rounded-md flex items-center justify-center aspect-square w-10">
          <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5"
          >
            <path d="M16 20V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
            <rect width="20" height="14" x="2" y="6" rx="2"></rect>
          </svg>
        </div>
        <div>
          <h3 class="font-medium">Usuario Administrador</h3>
          <p class="text-sm text-gray-500 ">
            Responsable de asignar usuarios de soportes a incidencias o reportes del los clientes
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

