<script setup lang="ts">
defineProps({
  title:{
    type: String,
  },

})
</script>

<template>
  <section class="border shadow-sm rounded-lg p-4 mb-4">
    <h2 class="font-medium text-lg ms-1 mb-4">{{title}}</h2>
    <div class="w-full m-1 mb-4">
          <slot>
          </slot>
    </div>
  </section>
</template>

