<script lang="ts" setup>
import {useSGV} from "../Img/img.ts";

methods: {
  useSGV
}
type ImgSVGType = "logo" | "home" | "users" | "reports";

defineProps<{
  message: string,
  imgSVG: ImgSVGType
}>();

</script>

<template>
  <RouterLink
      :to="message.toLowerCase()"
      class="flex items-center gap-3 rounded-lg px-3 py-2 text-gray-500 transition-all hover:text-gray-900"
      href="#"
  >
    <svg
        class="h-5 w-5"
        fill="none"
        height="24"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
    >
      <path
          :d="useSGV(imgSVG)"
      ></path>
    </svg>
    {{ message }}
  </RouterLink>
</template>