<script lang="ts" setup>
const version = import.meta.env.VITE_APP_VERSION
</script>

<template>
  <main class="flex flex-1 flex-col gap-4 p-4 md:gap-8 md:p-6">
    <div class="border shadow-sm rounded-lg p-2">
      <div class="flex flex-col" data-orientation="horizontal" dir="ltr">
        <slot/>
      </div>
    </div>
    <div class="absolute bottom-0 right-0 p-4 font-mono text-sm">security-concept | {{ version }}</div>
  </main>
</template>

