<script lang="ts" setup>
import {computed, ref} from "vue";
import HookCreateReport from "../../../http/reports/HookCreateReport.ts";

const formData = ref({
  title: '',
  description: ''
});
const create = () => {
  HookCreateReport(formData.value)
  formData.value = {
    title: '',
    description: ''
  }
}
const isObjectNotNull = computed(() => {
  return formData.value.title === '' || formData.value.description === ''} );
</script>

<template>
  <form class="grid gap-4 m-2" @submit.prevent="create">
    <div class="grid gap-2">
      <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="title"
      >
        Título
      </label>
      <input
          id="title"
          v-model="formData.title"
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder="Ingrese el título"
      />
    </div>
    <div class="grid gap-2">
      <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="description"
      >
        Descripción
      </label>
      <textarea
          id="description"
          v-model="formData.description"
          class="flex min-h-[80px] w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          placeholder="Ingrese la descripción"
      ></textarea>
    </div>
    <button
        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-gray-900 text-gray-100 hover:bg-primary/90 h-10 px-4 py-2 justify-self-end"
        type="submit"
        :disabled="isObjectNotNull"
    >
      Crear Ticket
    </button>
  </form>
</template>
