<template>
  <Skeleton>
    <Drawer/>
    <div class="flex flex-col">
        <Header>
        <div class="ml-auto flex-1 sm:flex-initial">
        </div>
        </Header>
      <MainComponent path-var="Home">
        <MainHomeHeader path-var="Home"/>
        <div class="shrink-0 bg-gray-100 h-[1px] w-full mb-4" data-orientation="horizontal" role="none"></div>
        <div class="mb-4">
          <MainCardHome/>
        </div>
        <MainCardHomeDescription title="Descripción del proyecto"
        >
          <p class="text-sm text-gray-500 mb-1 ">
            La aplicación desarrollada como TFM de la Unir, corresponde a un sistema de reportes diseñado para la gestión de tickets con tres roles principales. Este sistema fue desarrollado como parte de una prueba de concepto, cuyo propósito es demostrar la implementación eficiente de medidas de seguridad en una aplicación web, asegurando diferentes niveles de acceso y funciones. Se han incluido varias medidas de seguridad, como autenticación de múltiples factores, gestión de sesiones, encriptación de datos, y validación de entradas.
          </p>
        </MainCardHomeDescription>
        <MainCardHomeDescription title="Componentes del proyecto">
          <div class="w-full m-1">
            <p class="text-sm text-gray-500">
              1. Interfaz Gráfica de Usuario con VUE 3 (Frontend)
            </p>
            <p class="text-sm text-gray-500">
              2. Lógica de Negocio con Spring Boot 3 (Backend)
            </p>
            <p class="text-sm text-gray-500">
              3. Componente de Persistencia MySql
            </p>
            <p class="text-sm text-gray-500 mb-1">
              4. Sistema de Autenticación y Seguridad Keycloak
            </p>
          </div>
        </MainCardHomeDescription>


      </MainComponent>
    </div>
  </Skeleton>
</template>

<script lang="ts" setup>
import Skeleton from "../Skeleton.vue";
import MainComponent from "../../components/ui/main/MainComponent.vue";
import Drawer from "../../components/ui/menu/Drawer.vue";
import Header from "../../components/ui/header/Header.vue";
import MainCardHome from "../../components/ui/main/maincards/MainCardHome/MainCardHome.vue";
import MainHomeHeader from "../../components/ui/main/mainheader/MainHomeHeader/MainHomeHeader.vue";
import MainCardHomeDescription from "../../components/ui/main/maincards/MainCardHome/MainCardHomeDescription.vue";
</script>
